@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  --mat-form-field-container-height: 44px;
  --mat-form-field-outlined-container-shape: 8px;
  --mat-form-field-filled-container-shape: 8px;

  --mat-button-filled-container-shape: 10px;
  --mat-button-outlined-container-shape: 10px;
  --mat-button-protected-container-shape: 10px;
  --mat-button-text-container-shape: 10px;
  --mat-button-tonal-container-shape: 10px;

  --mat-card-elevated-container-shape: 12px;
  --mat-card-outlined-container-shape: 12px;
  --mat-card-filled-container-shape: 12px;

  --mat-dialog-container-shape: 12px;
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
